@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* NO RESPONSIVE - ONLY DESKTOP VERSION (FULL SCREEN) */

:root {
    --White: hsl(0, 0%, 100%);
    --Blacker: #26272b;
    --Black: #313338;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--Black);
}

h2 {
    color: var(--Blacker);
}

p {
    color: var(--Black);
}

.tarjeta {
    background-color: var(--White);
    border-radius: 1.5rem;
    margin-top: 1.3rem;
    margin-left: 500px;
    margin-right: 500px;
}

.contenido {
    padding: 1.5rem;
    text-align: center;
    font-size: large;
}

img {
    border-radius: 1.5rem;
}

.attribution {
    font-size: small;
}

a {
    text-decoration: none;
    font-weight: bold;
}